.antHeader{
  background-color: #e7e8ec !important;
  color: black !important;
  text-align: center;
  font-size: larger;
}

.antFooter{
  background-color: #e7e8ec !important;
  color: black !important;
  text-align: center;
  font-size: larger;
}

.siteLayoutContent {
  background: #fff;
  padding: 24px;
  min-height: 280px;
}
.layoutContent{
    background-color: white;
}
.searchDiv{
    padding-left: 1%;
    padding-bottom: 15px;
    padding-right :2%;
}

.addButton{
    color: #096eba !important;
     border-color: #096eba !important;
}

.antRaw{
    display: grid !important;
}